.chat__container {
  height: 90%;
  margin: 5px;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #92b0d8 #cfdbff;
  border-radius: 10px;
  &.empty {
    background-color: #e1e2ef;
  }
  .chat__empty-text {
    margin: auto;
    display: block;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 240px;
    width: 300px;
    opacity: 0.2;
  }
  .chat__bubble {
    display: block;
    margin: 2% 80px;
    padding: 10px 20px;
    background-color: #dbd9da;
    border-radius: 20px;
    width: fit-content;
    max-width: 60%;
    position: relative;
    word-break: break-word;
    &.own {
      background-color: #1f7198;
      color: white;
      margin-left: auto;
    }
    .chat__bubble-timestamp {
      position: absolute;
      bottom: 10px;
      right: -110px;
      color: black;
      font-size: 10px;
      font-style: italic;
      opacity: 0.6;
      &.own {
        left: -110px;
      }
    }
  }
  &::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(6, 20, 63, 0.302);
    background: #e8fff8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(146, 176, 216);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(171, 201, 241);
  }
}
